.navbar {
    height: 70px;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.27);
    -moz-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.27);
    box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.27);
    z-index: 999;

    h1 {
        span {
            color: #e53e3e;
        }
    }

    .navbarContainer {
        width: 1000px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);

            &:hover {
                color: #e53e3e;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .navbarContainer {
        padding: 0 2em;
    }
}
